<config>
  <apiEndpoint>http://apitesting.gnoss.com/</apiEndpoint>
  <communityShortName>akp1</communityShortName>
  <ontologyName>peliculademo.owl</ontologyName>
  <developerEmail>sergiodedios@gnoss.com</developerEmail>
  <token>
    <tokenKey>JpooLTcP20gxsYcFIIFJSZlcWQL9e+TH</tokenKey>
    <tokenSecret>spooLTcP20isqCF7EcsLQ7weYmh6vuDC</tokenSecret>
  </token>
  <consumer>
    <consumerKey>Q0okLTcP20jneuVHc2MJTJUEZM95A4oN</consumerKey>
    <consumerSecret>cUskLTcP20hHgwNrmj6mT6HGC+2X7ch8</consumerSecret>
  </consumer>
  <log>
    <logPath>C:/log</logPath>
    <logFileName>trace.log</logFileName>
    <logLevel>DEBUG</logLevel>
  </log>
</config>