<config>
  <apiEndpoint></apiEndpoint>
  <communityShortName></communityShortName>
  <ontologyName></ontologyName>
  <developerEmail></developerEmail>
  <token>
    <tokenKey></tokenKey>
    <tokenSecret></tokenSecret>
  </token>
  <consumer>
    <consumerKey></consumerKey>
    <consumerSecret></consumerSecret>
  </consumer>
  <log>
    <logPath>C:/log</logPath>
    <logFileName>trace.log</logFileName>
    <logLevel>DEBUG</logLevel>
  </log>
</config>
